﻿<%@ Page Title="Login" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="Proyecto1.Login" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server" >
    <asp:Label Style="cursor: default" ID="Label1" runat="server" Text="Usuario" Font-Bold="True"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="txtUser" runat="server" Width="215px"></asp:TextBox>
    <br />
    <asp:Label Style="cursor: default" ID="Label2" runat="server" Text="Contraseña" Font-Bold="True"></asp:Label>
    &nbsp;
    <asp:TextBox ID="txtPass" runat="server" TextMode="Password" Width="216px"></asp:TextBox>
    <br />
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="Button1" runat="server" Text="Ingresar" OnClick="Button1_Click" CssClass="btn-success" />
    &nbsp;&nbsp;
    <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Button" />
    <br />
    <a runat="server" font-size="XX-Small" href="~/RegistroPersona">¿No tienes cuenta? Registrate aquí</a>
</asp:Content>
